*{
    letter-spacing: 1px;
}
.navbar ul li a {
    text-decoration: none;
    color: white  
}
body{
    margin: 0%;
}
.navbar ul{
    list-style-type: none;
    float: right;
    padding-top: 10px;
    margin-right: 60px;
    font-family: "Raleway", sans-serif;
}
.navbar ul li{
    display: inline;
    padding: 10px;
    padding-right: 20px;
    
}
.navbar ul a:hover{
    color:black 
}
.navbar{
    background-color: rgb(85, 87, 98);
    height: 72px;
    width:100%;
}

.logo{
    float: left;
    padding: 20px;
    margin-left: 55px;
    text-decoration: none;
    color: black;
    font-family: "Arial";
    font-size: larger;
}
.logo img{
    margin-top: -20px;
}
.logoText {
    margin-top: -45px;
    margin-left: 80px;
}
.Card{
   margin-left: 80px;
  
}
.Card h1{
    margin-top: 60px;
    font-size: 2.5rem;
    font-family: "Raleway", sans-serif;
}
.Card h2{
    margin-top: 50px;
    width: 55%;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
}
.Card h3{
    width: 59%;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
}
.myimage{
    float: right;
    margin-top: -250px;
    margin-right: 80px;
    
}
.Card .socialmedia a img{
    margin-top: 15px;
    margin-right: 20px;
}
.Card .education1{
    margin-top: 15px;
    
}
.Card .education2{
    margin-top: 15px;
    margin-left: -30px;
}

.Resume{
    margin-top: 30px;
}