<footer>
    <div class="footer-content">
        <p>&copy; 2025 Farid M. Azzam. All rights reserved.</p>
        <ul class="footer-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>
    <div class="footer-social">
        <a href="https://www.linkedin.com/in/farid-azzam-2882051b2/"><img src="../assets/images/linkedin.svg" width="30px" alt="LinkedIn"></a>
        <a href="https://github.com/fazm1"><img src="../assets/images/github.svg" width="30px" alt="GitHub"></a>
    </div>
</footer>